@import url("https://fonts.googleapis.com/css2?familfamily=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
}

main {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 60px;
}

.column1 {
  margin: auto;
  width: 60%;
  color: white;
  padding: 10px;
  }
.column2{
  width: 60%;
  padding: 10px;
  margin: auto;

}

form{
width: 70%;
background-color: aliceblue;
border-radius: 10px;
padding: 30px;
margin: auto;

}

input{
  width: 100%;
  border-radius: 10px;
  border: 1px solid hsl(246, 25%, 77%);
  padding: 15px;
  margin-bottom: 15px;
  background-image: (url(icon-error.svg));
}
input:focus {
  outline: 2px;
  border: 2px hsl(249, 10%, 26%);
}
h1{
  font-family: Poppins;
      font-size: 45px;
      margin: 0;
      color: white;
    }
h5 {
  background-color: hsl(248, 32%, 49%);
  color: aliceblue;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
}
.details{
  font-size: 16px;
  color: white;
  line-height: 24px;
}


input .input:invalid {
<<<<<<< HEAD
  background-image: url(./icon-error.svg);
=======
  background-image: url(/icon-error.svg)
>>>>>>> cf3f6bd4fd4be4d66ecfae1223de00e185a7983b
  background-repeat: no-repeat;
  background-position-x: 95%;
}
.submit {
  background-color: hsl(154, 59%, 51%);
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  color: hsl(250, 20%, 94%);
  font-weight: 500;
}
.reg p {
  padding: 10px o;
  font-size: small;
  color: hsl(246, 25%, 77%);
}
span {
  color: hsl(0, 100%, 74%);
}

@media screen and (max-width:1000px) {
  
  body {
<<<<<<< HEAD
    background-image: url(bg-intro-desktop.png);
=======
    background-image: url(/bg-intro-mobile.png);
>>>>>>> cf3f6bd4fd4be4d66ecfae1223de00e185a7983b
    background-color: hsl(0, 100%, 74%);
  }
  main {
    display: flex;
    flex-direction: column;
    
  }
      
}

@media screen and (max-width:800px) {
 
  body {
    background-image: url(img/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
  }
  main {
    display: flex;
    flex-direction: column;
       
  }
  
 }

 @media screen and (max-width:375px) {
  h1{
      font-size: 30px;
  }
  }